.personal-info-page {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    'header header'
    'sidebar main' ;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

input {
  box-shadow: none;
}

@media(max-width: 640px) {
  .picture-image {
    order: -1;
  }
}