.menu-icon {
  width: 25px;
  height: 25px;
}

@media (min-width: 1024px) {
  .menu-icon {
    height: 30px;
    width: 30px;
  }
}

.landing-page-nav {
  box-shadow: -6px 6px 6px 8px rgba(0, 0, 0, 0.16);
}