@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
  background-color: #F5F8FA;
}

@media (max-width: 400px) {
  body {
    font-size: 80%;
  }
}